beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
dropbox==12.0.2
EbookLib==0.18
feedparser==6.0.11
idna==3.8
lxml==5.3.0
pillow==10.4.0
ply==3.11
pyaml==19.4.1
PyYAML==6.0.2
reportlab==4.2.2
requests==2.32.3
rmapy==0.3.1
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.6
stone==3.3.1
urllib3==2.2.2
