# settings.py

# OpenWeather API settings
OPENWEATHER_API_KEY = "your_api_key_here"
WEATHER_LAT = 40.4168  # Example: Madrid
WEATHER_LON = -3.7038  # Example: Madrid

# Add any other configuration settings here
# News summary settings
ENABLE_NEWS_SUMMARY = True  # Set to True to enable news summaries
OLLAMA_MODEL = "llama3.1"  # Specify the Ollama model to use

# Use a different font: "default" (Helvetica), "libertinus", "source", "roboto", "noto"
font= "default"

# email settings
EMAIL_sender = "your_email"
EMAIL_receiver = "your_email"
EMAIL_password = "your_email_password"
EMAIL_subject = "Your Email Subject"
EMAIL_body = "Your Email Body"

# SSH settings
REMARKABLE_SSH_HOST = "IP_ADDRESS"
REMARKABLE_SSH_PASSWORD = "password"